.product-container {
  position: absolute;
  top: 100px;
  width: 100%;
  flex-direction: column;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;
}
.shop-text {
  position: relative;
  left: 60px;
}
